<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Salary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	<h1>Update Salary</h1>
	<div>
		<div class="col-md-4">
		<form th:object="${salary}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control" />
			<label for="nam">Name</label>
			<input type="text" id="nam" th:field="*{name}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="usr">UserName</label>
			<input type="text" id="usr" th:field="*{username}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="acc">Account Number</label>
			<input type="number" id="acc" th:field="*{account}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="cit">City</label>
			<input type="text" th:field="*{city}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="phn">Phone</label>
			<input type="number" id="phn" th:field="*{phone}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="amn">Amount</label>
			<input type="number" id="amn" th:field="*{amount}" class="form-control"/>
		  	
    		<div style="clear: both; display: block; height: 10px;"></div>
		  	<input type="submit" value="Save" class="btn btn-success" style="margin-left:10px"></input>
		</form>
		</div>
	</div>
</body>
</html>